<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.sleepbetter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NEW_OUTGOING_CALL" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@drawable/pill"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pill"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--<receiver android:name=".NotifyService"/>-->
        <activity android:name=".FirstPageConsent" />
        <activity android:name=".SecondPage" />
        <activity android:name=".SecondPage2" />
        <activity android:name=".SecondPage3" />
        <activity android:name=".SecondPage4" />

        <receiver android:name=".MainMenu$Broadcast1" />
        <receiver android:name=".MainMenu$Broadcast2" />
        <receiver android:name=".MainMenu$Broadcast3" />
        <receiver android:name=".MainMenu$Broadcast4" />
        <activity android:name=".Seek" />
        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".WhatExperiments"></activity>
        <activity android:name=".WhatChatbot"></activity>
        <activity android:name=".WhatIsSleep"></activity>
    </application>

</manifest>